.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: start;
  justify-items: center;
  min-height: auto;
  padding: 20px 80px;
  gap: 10px;
  font-family: var(--font-roboto);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px 0 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-roboto);
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .toolbar {
    padding: 25px 45px;
    max-width: 100%;
  }
}